body{
  width: 100vw;
  box-sizing: border-box;
}

p{
  color: black;
}

h3{
  font-size: 18px;
  font-weight: bold;
	line-height: 1.5;
	font-weight: 400;
  text-align: center;
}

.StyledSearch{
  width: 80%;
  padding-top: 40px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.i {
  position: absolute;
}

.glyphicon {
  padding: 10px;
  min-width: 40px;
}

.SearchInput{
  align-items: center;
  background-color: #EBEAEA;
  padding: 12px 30px;
  border-radius: 6px;
  border-color: unset;
  text-align: center;
}

.GridBusquedas{
  padding-top: 10px;
  padding-bottom: 20px;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  grid-template-rows: auto auto;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  width: 100%;
}

.GridImages{
  padding-top: 30px;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  grid-template-rows: auto auto;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  height: 600px;
  width: 100%;
}

.GridItems{
  width: 100%;
  height: 100%;
}

.StyledSlider{
  display: flex;
  overflow-y: auto;
  width: 100%;
  height: 200px;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.StyleSliderItem{
  flex: 0 0 auto;
  object-fit: none;
  position: relative;
  margin: 15px;
  width: 200px;
  height: 200px;
}

.StyledPictureContainer{
  width: 90%;
  height: 90%;
  object-fit: none;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
}

.List{
  list-style-type: none;
  text-align: left;
  width: 50px;
}

.buttonDrop{
  font-size: 18px;
  font-weight: bold;
	line-height: 1.5;
	font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.button{
  background: unset;
  border-style: unset;
  border-bottom: 2px solid rgb(187, 233, 187);
}

.submitButton{
  background: unset;
  border-style: unset;
  background-color: rgb(226, 247, 226);
  border-radius: 4px;
  padding: 20px 20px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(187, 233, 187);;
}

.container:hover input ~ .checkmark {
  background-color: rgb(187, 233, 187);
}

.container input:checked ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container .checkmark:after {
  display: block;
}

.searchButton{
  background: unset;
  border-style: unset;
}